<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EIB Application Test Automation Test Suite">

    <listeners>
        <listener class-name="com.hamletconsulting.eib.ExtentReporterNG" />
    </listeners>


    <test name="EIB App Test Cases">
        <classes>
            <class name="com.hamletconsulting.eib.testcases.LoginPageTest"></class>
            <class name="com.hamletconsulting.eib.testcases.QuestionnariePageTest"></class>
        </classes>
    </test>
</suite>